<div class="row align-items-md-stretch mt-5 mb-5">
    <div class="col-md-5 text-center">
        <img src="assets/images/graduation.png" alt="Graduation Cap and diploma 3D image" width="350">
    </div>
    <div class="col-md-7">
        <div class="p-5 bg-body-tertiary border rounded-3">
            <h2>Nelson Mandela disait</h2>
            <p>" L'éducation est une arme puissante pour faire évoluer les mentalités et transcender les différences, et le sport est une source d'inspiration, de dépassement, de tolérance et d'apprentissage du respect de la jeunesse. Ces deux éléments participent à créer une société plus juste et fraternelle. "</p>
        </div>
    </div>
</div>