<div class="shadow p-4 mb-4 rounded-4 hero">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">J'apprend, je note.</h1>
        <p class="col-md-12 fs-3">My Notebook est l'application optimisée pour permettre de se concentrer sur les essentiels de sa formation avec la prise de note digitale. Écrire, enregistrer et partager ses apprentissages et ses nouvelles connaissances.</p>
    </div>
</div>